.slidedeck section {
  color: #555;
  font-size: 36pt; }

.slidedeck section > h1, .slidedeck section > h2, .slidedeck section > h3, .slidedeck section.curtain > h1, .slidedeck section.curtain > h2, .slidedeck section.curtain > h3 {
  background-color: rgba(0, 114, 188, 0.8);
  color: white; }

.slidedeck .title > h1 {
  top: 300px;
  font-size: 64pt; }

.slidedeck .title > h2 {
  top: 300px;
  font-size: 48pt; }

.slidedeck .title div.block-image:nth-of-type(2) {
  position: absolute;
  width: 280px;
  right: 1em;
  bottom: 90px; }

.slidedeck .title-bottom > h2 {
  position: absolute;
  width: calc(1920px - 60px);
  bottom: 0; }

.slidedeck .title-hidden > h2 {
  display: none; }

.slidedeck .certification-card > h2 {
  display: none; }

.slidedeck .certification-card > ul {
  margin-top: 80px; }

#who-am-i p:nth-of-type(1) {
  padding-left: 1em;
  font-weight: bold;
  font-size: 60pt; }

#who-am-i p {
  font-size: 35pt; }

#tips {
  font-size: 30pt; }

.slidedeck .powerlist > ul > li::before {
  font-size: 5rem; }

.slidedeck .agenda > ul {
  font-size: 40pt; }

.slidedeck .agenda > ul > li {
  width: 30%;
  min-height: 5em;
  margin: 0.5em;
  padding: 0.5em 1em 0.5em 0.4em;
  border-left: 2px solid silver; }

.illustration .block-image {
  height: 100%; }

.question-and-answers > p {
  margin: 0.5em 2em;
  font-weight: bold;
  font-size: 75%; }

.question-and-answers > ul > li {
  margin: 1em 3em 0em 3em;
  font-size: 66%; }

.question-and-answers.short > p {
  font-size: 115%; }

.question-and-answers.short > ul > li {
  font-size: 100%; }

.slidedeck .blocks > ul li img {
  max-height: 100%; }
